.nav-block{
    position: fixed;
    width: 10%;
    height: 100%;
    background-color:#375782;
    margin: 0;
}

.logo{
    text-align: center;
    border-bottom: solid 1px white;
    margin: 0;
    padding: 30px;
    color: white;
}

.admin{
    text-align: center;
    padding: 50px;
    border-bottom: solid 1px white;
    
}

.admin .admin-text{
    color: white;
    padding-left: 20px;
}

.link{
    display: block;
    text-decoration: none;
    color: white;
    padding: 15px ;

    
}

.link.link-user {
    margin-top: 0;
}
.link-depart{
    padding-bottom: 15px;
}

.link:hover{
    background-color: white;
    color: black;
    transition: background-color .3s;

}

